* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}


.header {
    display: flex;
    justify-content: space-between;
    padding: 10px 10px 10px 0px;
    font-family: 'Trebuchet MS';
    background-color: lightgray;
}

.header h1 {
    padding: 5px 5px 5px 100px;
    display: inline-block;
    font-size: 45px;
    color: darkgray;
    background-color: lightblue;
}

.header nav {
    display: flex;
    padding: 15px;
    margin-right: 20px;
    font-family: 'Trebuchet MS', sans-serif;
    font-size: 20px;
}

.header nav ul li {
    display: inline-flex;
    margin: 0px 10px;
}

a {
    color: var(--main-blue);
    text-decoration: none;
    padding: 0px 7px;
    border-bottom: 3px solid;
}

p {
    margin: 2%;
    font-size: 110%;
}

.stock {
    display: flex;
    height: 600px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("./image/stock.jpg");
    background-size: cover;
    background-position: center;
}

.stock h2 {
    margin: auto 50px 15px auto;
    padding: 5px 5px 5px 5px;
    font-size: 45px;
    color: lightskyblue;
    background-color: lightgrey;
}

.content {
    display: flex;
    justify-content: flex-start;
    font-family: 'Trebuchet MS';
}

.content h3 {
    flex: 0 0 20%;
    margin: 15px 0px;
    padding-right: 10px;
    text-align: end;
    font-size: 55px;
    border-right: 4px solid;
    border-color: black;
    color: lightblue;
}

.content nav {
    display: flex;
    justify-self: center;
    align-self: center;
    padding: 15px;
    font-family: 'Trebuchet MS', sans-serif;
    font-size: 20px;
}

.content nav ul li {
    display: inline-flex;
    margin: 0px 10px;
}

.items {
    display: flex;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
    margin: 0 auto;
    text-align: center;
    color: black;
    padding: 10px;
}

.item-2 {
    display: flex;
    position: relative;
    margin: 10px;
    flex: 0 0 30%;
    min-width: 350px;
    min-height: 350px;
}

.item-2 h4 {
    position: absolute;
    font-size: 30px;
    padding: 5px 5px 20px 35px;
    bottom: 20px;
    left: 0;
    background-color: aquamarine;
}

.item-2 h5 {
    position: absolute;
    bottom: 20px;
    padding: 5px 5px 8px 35px;
    font-size: 10px;
}

.surf, .led, .calc, .pastel, .run {
    display: flex;
    flex: 1 1;
    background-color: grey;
    background-blend-mode: lighten;
    border-style: solid;
    border-width: 5px;
    border-color: lightblue;
    min-width: 48%;
    background-position: center;
    background-size: cover;
}

.surf {
    background-image: url("./image/surf.jpg");
}

.led {
    background-image: url("./image/led.jpg");
}

.calc {
    background-image: url("./image/calc.jpg");
}

.pastel {
    background-image: url("./image/pastel.jpg");
}

.run {
    background-image: url("./image/run.jpg");
}

.Item a {
    border-bottom: none;
    padding: 0;
}

.Item:hover {
    background-blend-mode: normal;
}

.footer {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 0 auto;
    text-align: center;
    font-family: 'Trebuchet MS';
}

.footer h3 {
    flex: 0 0 20%;
    padding-right: 10px;
    text-align: end;
    font-size: 53px;
    border-right: 4px solid;
    border-color: black;
    color: lightblue;
}

.footer nav {
    font-size: 20px;
    margin: 0px 10px;
}

.footer nav ul li {
    display: inline-flex;
}

@media screen and (max-width: 800px) {
    .header {
        padding: 10px 0px;
        text-align: center;
        flex-direction: column;
    }

    .header h1 {
        padding: 5px 5px 5px 5px;
        display: inline-block;
        font-size: 45px;
        color: #575959;
        background-color: var(--main-blue);
    }

    nav {
        flex-direction: column;
    }

    .header nav ul li {
        text-align: center;
        margin: 10px;
    }

    .content {
        display: flex;
    }

    .content h3 {
        display: flex;
        justify-content: center;
        text-align: center;
        font-size: 55px;
        color: lightblue;
    }

    .footer {
        display: flex;
        justify-content: center;
    }
}
